* {
  background-color: black;
  font-family: 'Papyrus', fantasy;;
  font-size: 80px;
}

#intro {
  color: white;
  text-align: center;
}

#calculator {
  text-align: center;
  width: 450px;
}

td {
    padding: 15px 15px 15px 15px;
    border: 2px solid white;
    background-color: #FFFF99;
    font-weight: bold;
}

tr {
  width: 30x;
}

table {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 30px;
}

#display {
  height: 60px;
  background-color: black;
  border-color: #FFFF99;
}
