* {
  background-color: #8FBC8F;
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
  font-style: bold;
}

#text {
  color:  white;
  text-align: center;
}

#table {
  color: white;
  text-align: center;
  align-content: center;
  width: 500px;
  height:700px;
}

#design {
  padding: 15px 15px 15px 15px;
  border: 5px solid gray;
  background-color: #D8BFD8;
  font-weight: bold;
}

td {
  height: 60px;
 background-color:#D8BFD8 ;
 font-size: 30px;
 border: 4px solid gray;
}

