* {
  background-color: black;
  font-family: 'Papyrus', fantasy;;
  font-size: 60px;
}

#intro {
  color: white;
  text-align: center;
}

#calculator {
  text-align: center;
  width: 350px;
}

td {
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    background-color: #FFFF00;
    font-weight: bold;
}

tr {
  width: 20px;
}

table {
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 30px;
}

#display {
  height: 55px;
  background-color: black;
  border-color: #FFFF00;
}
